.profile{
    width: 100px;
    border-radius: 50%;
    border: 5px solid #efb0c9;
}

body{
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    background: linear-gradient(#26667F, #67C090);
    color: #ffffff;
    text-shadow: 0px 0px 1px black;
}

#age{
    background-color: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#b_date{
    background-color: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-img{
    width: 400px;
    border: 6px solid white;
    border-radius: 5px;
    background-image: url("./gift_box.jpg");
    background-size: cover;
    height: 400px;
    margin: 0 auto;
}

#gift-img1:hover{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3cGhxdDE1bTFsOHU1dXQ3YjgzMHhjNGdvMGtpYWplOWgyaGV0YWUwcCZlcD12MV9naWZzX3JlbGF0ZWQmY3Q9Zw/HuGCwDXj4nQnS/giphy.gif");

}

#gift-img2:hover{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3bmUzeWVpcDZpY3Zyem54NTBocmhnNGZubmlvdnRoM3RlNWxkOWgycSZlcD12MV9naWZzX3JlbGF0ZWQmY3Q9Zw/iavKpDrWkA8Io/giphy.gif");

}

#gift-img3:hover{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZHI3NDIzY2JtcXRjbXpka25sa2E2c3EwZXBnNTJrcDdjYzZhZ2k2cyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/113PoJxEaRxKbm/giphy.gif");

}

#gift-img4:hover{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdHgzMTFmazM2ZDNpNjN3bGltd210eTVoa2Y1eHN1eGl2Y2tlODl2ZSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/9f2hmeIcG7W7Gj0vUH/giphy.gif");

}

#gift-img5{
        height: 200px;
}

#gift-img5:hover{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZHI3NDIzY2JtcXRjbXpka25sa2E2c3EwZXBnNTJrcDdjYzZhZ2k2cyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/TIG6XFVuOriidsTsdu/giphy.gif");

}

.gift-section{
    margin-top: 50px;
}

.gift-hint{
    margin-top: 0px;
}

footer{
    font-style: italic;
    margin: 0 auto; 
    width: 400px;

}